@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

/* font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif; */

:root {
    --white: hsl(0, 0%, 100%);
    --dark-blue: hsl(240, 67%, 8%);
    --dark-gray: hsl(240, 17%, 26%);
    --light-gray: hsl(240, 6%, 54%);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    background-image: url("/src/assets/images/background-stars.svg");
    background-color: var(--dark-blue);
}